<div class="card">
    <div class="card-body">
        <h5 class="card-title">Új bejegyzés hozzáadása</h5>
        <form #postForm="ngForm" (ngSubmit)="addNewPost(postForm)">
            <div class="form-group">
                <input class="form-control" ngModel #title="ngModel" required type="text" name="title" id="" placeholder="Bejegyzés címe">
                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                    <div *ngIf="title.errors.required">
                       Cím megadása kötelező!
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea ngModel #body="ngModel" required name="body" placeholder="Bejegyzés..." class="form-control"
                    id="exampleFormControlTextarea1" rows="3"></textarea>
                    <div *ngIf="body.invalid && (body.dirty || body.touched)" class="alert alert-danger">
                        <div *ngIf="body.errors.required">
                           Tartalom megadása kötelező!
                        </div>
                    </div>
            </div>
            <button type="submit" [disabled]="!postForm.valid" id="sendpost" class="btn btn-primary">
                <svg class="bi bi-chat-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M14 1H2a1 1 0 00-1 1v8a1 1 0 001 1h2.5a2 2 0 011.6.8L8 14.333 9.9 11.8a2 2 0 011.6-.8H14a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v8a2 2 0 002 2h2.5a1 1 0 01.8.4l1.9 2.533a1 1 0 001.6 0l1.9-2.533a1 1 0 01.8-.4H14a2 2 0 002-2V2a2 2 0 00-2-2H2z"
                        clip-rule="evenodd" />
                </svg>
                Küldés</button>
        </form>
    </div>
</div>